<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Tajeshwar Khara. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="portrait" src="/img/icecube.png">
    </div>

    {{>footer}}
</body>

</html>